name: PR Notification
on:
  pull_request:
    types: [opened]
jobs:
  notify:
    runs-on: ubuntu-24.04
    steps:
      - name: Notify PR in discord
        run: |
          curl -X POST "${{ secrets.DISCORD_WEBHOOK_URL }}" \
          -H "Content-Type: application/json" \
          -d @- <<EOF
          {
            "content": "<@&${{secrets.GIT_DISCORD_ROLE_ID}}>",
            "embeds": [{
              "title": "New pull request on MMPathReview",
              "fields": [
                { "name": "Title", "value": "${{ github.event.pull_request.title }}", "inline": false },
                { "name": "Author", "value": "${{ github.event.pull_request.user.login }}", "inline": true },
                { "name": "Link", "value": "${{ github.event.pull_request.html_url }}", "inline": false }
              ],
              "color": 3447003
            }]
          }
          EOF